:root {
    --black: #292929;
    --grey: #999;
    --lightgrey: #f8f8f8;
    --white: #fff;
}

@page {
    margin: 0; /* Adds onto the regular margins */
}

.tag {
    display: inline;
    padding: 0 3px;
    color: #888;
    border: 1px solid #888;
    border-radius: 3px;
}

.center {
    display: flex;
    justify-content: center;
}

a {
    color: #246BCE;
}

ul {
    margin: 0;
    padding-left: 25px;
}

li {
    padding-bottom: 4px;
}

div.columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
}

div.columns > * {
    flex: 1;
}

div.columns.padding > * {
    padding-left: 1vmax;
    padding-right: 1vmax;
}

div.column-left {
    padding-right: 2vw;
    margin-right: 2vw;
    border-right: 1px black solid;
}

p.pagebreak {
    page-break-after: always;
}

hr {
    margin: 3vmax 0;
    border-bottom: 0.1px solid black;
}

img {
    object-fit: contain;
}
